[2019-03-30 19:35] lyangmdrs opened #1 "Makefile:234: recipe for target 'server' failed"
In **iotivity-lite/port/linux**, when I run:
`make all`

it returns

gcc -o server ../../apps/server_linux.c libiotivity-constrained-server.a -DOC_SERVER -fPIC -fno-asynchronous-unwind-tables -fno-omit-frame-pointer -ffreestanding -Os -fno-stack-protector -ffunction-sections -fdata-sections -fno-reorder-functions -fno-defer-pop -fno-strict-overflow -I./ -I../../include/ -I../../ -std=gnu99 -Wall -

[2019-04-23 12:49] liang020105008 opened #2 "latest version compile error"
../../security/oc_tls.c:140:3: error: 'MBEDTLS_TLS_ECDH_ANON_WITH_AES_128_CBC_SHA256' undeclared here (not in a function)
   MBEDTLS_TLS_ECDH_ANON_WITH_AES_128_CBC_SHA256,
   ^
Makefile:214: recipe for target 'obj/server/oc_tls.o' failed
make[3]: *** [obj/server/oc_tls.o] Error 1

[2019-05-05 01:29] #2 closed

[2020-02-12 05:00] liz7124 opened #3 "port/linux `Make SWUPDATE=1` result --> error: anonymous variadic macros were introduced in C++11 [-Werror=variadic-macros]"
Hi.
I tried to build from Linux port for enable SWUPDATE resource.
So in `<iotivity-lite>/port/linux`, I ran `make SWUPDATE=1`, then got this error

`-DOC_PKI -DOC_DYNAMIC_ALLOCATION -DOC_SOFTWARE_UPDATE -DOC_SECURITY -lm -pthread -lrt -lboost_system -lcppnetlib-uri`
`In file included from ../../port/oc_connectivity.h:24:0,
                 from ../../include/oc_buffer.h:22,
                 from

[2020-02-12 05:05] liz7124 commented on #3
In the last error cannot find file/directory in this `#include <boost/network/uri.hpp>`

[2020-02-17 08:34] liz7124 commented on #3
I upgraded my gcc to version 9.2.1 (before 5.4.0) and the first error solved.
But the last error still.
I've download libboost library `sudo apt install libboost-all-dev` but can't find the network/uri.hpp.
I've found in cppnetlib-uri (https://github.com/cpp-netlib/uri). But where should I copy this library?
I try to copy the `network` folder from cppnetlib-uri to `/usr/include/boost/` then got th

[2020-04-03 09:55] ustccw opened #4 "[iotivity][linux] how to make ocf-server & ocf-client run on linux platform"
Hi all,
It looks like can not work well on my ubuntu18.04, when i update `iotivity-constrained` to `iotivity-lite`.

What I did is just `make` and run `./server` & `./client`.

- On `iotivity-constrained` SDK, it still looks like work well now.
![ESP-20200403-09](https://user-images.githubusercontent.com/24221485/78347565-45557880-75d3-11ea-9866-82caffa7790c.png)

- On `iotivity-lite` SDK, it stil

[2020-04-03 10:00] ustccw commented on #4
@kmaloor Would you like to give me some advice?

[2020-04-10 05:15] jjmilburn opened #5 "Possible null pointer dereference"
When compiling the project with gcc 7.5 and clang `scan-build-3.9`, [line 327 in `oc_rep.c`](https://github.com/iotivity/iotivity-lite/blob/master/api/oc_rep.c#L327) indicates a possible null pointer dereference:

[code]

[2020-04-10 08:30] fariouche opened #6 "add oc_remove_device()"
Hello,

I have a use case were I want to expose multiple bluetooth devices as OCF devices.
If I pair one device, I would like to add an ocf device, and if I remove the bluetooth device, to remove the associated device.

Today we only have oc_add_device but no oc_remove_device. I think it would be a nice addition.
I haven't looked at the code yet, but I may be able to add it if you want. (if the co

[2020-04-16 02:10] yzgr2 opened #8 "delete another timer in current timer callback, system may crash"
if we delete another timer in current timer callback function,  system may crash.
since in poll_event_callback_timers() , the 'next' node may be freed, but will be referenced by current loop.
[code]

To fix this issue, i submit a pr (commit 37bfad80af).  do you think this is a issue should be fixed ?

[2020-04-20 15:42] georgen117 commented on #3
The "mock" sample uses a Boost library just to validate URIs.
You can fetch it from here: : https://cpp-netlib.org/

The netlib library has been proposed for inclusion in the Boost library but is not yet part of boost.  It must be downloaded and installed separately. which is why `sudo apt install libboost-all-dev` did not resolve the build failure.

[2020-05-14 22:56] #6 closed

[2020-05-27 05:18] kmaloor commented on #4
@ustccw The old iotivity-constrained repository has since long been deprecated. Please always refer to the iotivity-lite repo as it is current and actively maintained.
The issue you're having is likely because SECURE=1 has been made the default in the current IoTivity-Lite Makefile. That was not the case earlier. So, to make it work, you'd need to go through onboarding and provisioning steps with

[2020-05-27 07:23] ustccw commented on #4
@kmaloor Thanks your detailed reply, it works when `make SECURE=0`.

We will try to `make SECURE=1` with steps OBT.

[2020-05-27 07:23] #4 closed

[2020-09-01 14:44] ihebmedd opened #9 "Iotivity client doesn't rediscover resources after some time"
I'm running an IoTivity client that rediscovers available resources every 20 seconds. At the start it works fine. However, after around 2 and a half minutes the client doesn't discover the resource anymore. When I restart the client it still doesn't find it but when I restart the server the client rediscover it but for 2:30 min. Why is this happening and how can I fix it? I used IoTivity 1.2.1 and

[2020-09-14 09:18] ampeixoto opened #10 "Build for Android Api 27 leads to "UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_is_owned_device"""
Hello,

I have followed the step to build iotivity-lite for Android as explained here: https://iotivity.org/documentation/building-iotivity-android

The command used to generate it was:
`make NDK_HOME=~/android-build/android-arm64-27 ANDROID_API=27 ANDROID_ABI=arm64-v8a IPV4=1 DEBUG=1 SECURE=0`

Then I added the `iotivity-lite.jar` to my `libs` folder and the `libiotivity-lite-jni.so` to the `src/

[2020-09-15 14:49] ampeixoto commented on #10
After I removed the SECURE=0 from the make command, this error stopped but a new one raises:

`
2020-09-14 17:30:58.352 15950-16588/my.app.package W/System.err: Native code library failed to load.
2020-09-14 17:30:58.352 15950-16588/my.app.package W/System.err: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "coap_remove_observers_on_dos_change" referenced by "/data/app/my.app.

[2020-12-02 12:59] OS-WS opened #11 "CVE fixed?"
Hi, I wanted to know if the CVE-2019-9750 was fixed?
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9750
If so, in what commit?
thanks in advance :)

[2021-01-16 20:23] #1 closed

[2021-01-21 14:10] TomCahill opened #12 "[Android] Unable to build library due to gcc being missing from the tool chain"
I'm struggling to get the library to build for `arm64_v8a` following the steps in the README due to the tool chain missing gcc.

Is there a specific version of the NDK that i need to use to get this to build?

[code]

This binary does however seem to exist when building for `armeabi` but this results in some duplicate duplicate symbol errors:
[code]

[2021-01-30 17:23] obones opened #13 "Building on ArchLinux"
Hello,

I'm trying to build on ArchLinux and following the setup.sh script is quite easy. I got as far as this command:

    make DEBUG=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 CLOUD=1 JAVA=1 IDD=1

But this one ends up with those of errors from `ld`:
[code]

I must have missed something, but I can't figure out what so any pointers are most welcome.

[2021-02-16 21:12] juber-ivre opened #14 "Client App and Server App error"
Foolowing the instructions I'm getting the error below towards the very end.

otgc-linux/src/main/java/org/openconnectivity/otgc/utils/util/DialogHelper.java:[22,20] package javafx.scene does not exist

On the Server App I'm getting the following error

make: *** No rule to make target '../../apps/device_builder_server.c', needed by 'device_builder_server'.  Stop.

I'm on Ubuntu 20.04. Any suggest

[2021-02-23 11:34] TomCahill commented on #12
Closing off due to this being a mirrored repository.

[2021-02-23 11:34] #12 closed

[2021-05-12 10:15] WAvdBeek opened #15 "Implicit access policy and Device Onboarding connection"
Implicit access policy and Device Onboarding connection
The CR clarifies the implicit permissions of SVR requests received over the Device Onboarding Connection (DOC) established during RFOTM in onboarding.

https://bugzilla.openconnectivity.org/show_bug.cgi?id=2335

JIRA migration meta data

JIRA Issue ID: LITE-62
Reporter: phawkes
Assignee: nathanheldtsheller
Creator: phawkes
Created at: 2019-07

[2021-05-12 10:18] WAvdBeek opened #16 "new Interface for CREATE, DELETE & LINK_UPDATE operations"
new Interface for CREATE, DELETE & LINK_UPDATE operations
Open

new Interface for CREATE, DELETE & LINK_UPDATE operations

This is the implementation task corresponding to BZ 1229 & BZ 2716.
There is a branch in IoTivity for implementing this change:
"feat-linkupdate-and-collection-access-control"

JIRA migration meta data

JIRA Issue ID: LITE-29
Reporter: nathanheldtsheller
Assignee: kmaloor
Crea

[2021-05-12 10:20] WAvdBeek opened #17 "Build option to remove JW OTM"
[Improvement] Build option to remove JW OTM
Open

[Improvement] Build option to remove JW OTM

JW is optional OTM in Core Security, and some OCF verticals do not have plans to use/support it due to low security guarantees. Since IoTivity Lite should be a common codebase, an easy option is needed to remove JW OTM support.

JIRA migration meta data

JIRA Issue ID: LITE-101
Reporter: oleksandr
Assign

[2021-05-12 10:22] WAvdBeek opened #18 "Multiple calls to oc_do_ip_discovery fail on windows."
Multiple calls to oc_do_ip_discovery fail on windows.
Reproduction steps:
on windows:

Update simpleclient_windows sample as indicated below.
build code.
start SimpleServer.exe
onboard and provision SimpleServer (recommend using wildcard ACL) so it can be called from the SimpleClient.exe
Run SimpleClient.exe (may need to onboard and provision SimpleClient depending on provision settings done for S

[2021-05-12 10:33] WAvdBeek opened #19 "Update Android build to build without the deprecated standalone tools"
Update Android build to build without the deprecated standalone tools
Currently the Android build uses the standalone tool chain when the standalone tool chain is installed a warning is printed stating that the standalone tool chain is no longer necessary.

./android-sdk-linux/ndk-bundle/build/tools/make_standalone_toolchain.py --arch arm --api 23 --install-dir ~/android-arm-23
WARNING:__main__:ma

[2021-05-12 10:39] WAvdBeek opened #20 "Blockwise timeout notify 503 not working properly for GET requests"
Blockwise timeout notify 503 not working properly for GET requests
For some reason I'm not able to fork and create a pull request (it is disabled), but I've found that there is an error in engine.c.

In blockwise operations, the mid is updated for each new block, thus the response_buffer's mid needs to be updated on each block. For GET operations, the response_buffer mid is updated correctly but t

[2021-05-12 10:40] WAvdBeek opened #21 "onboarding failure if called from discovery callback"
onboarding failure if called from discovery callback
Hello,

I'm having a strange issue... the onboard process is failing if I do the provisioning from the callback (real use case were I do auto onboard a server) I was able to reproduce the probleme on linux by modifying the onboarding tool.... The modifications were done so that the following is done: 1- onboarding tool displays the menu and we s

[2021-05-12 10:41] WAvdBeek opened #22 "[Cloud] Cannot communicate with Cloud after error response"
When Cloud sends an error response, Lite cannot communicate with the Cloud again.
SECURE flag is set for the compilation.
Steps to reproduce
1.- Cloud server sample registers in the OCF Cloud using unsecure configuration.
2.- Cloud client sample registers in the OCF Cloud using unsecure configuration.
3.- Cloud client discovers resources.
4.- Cloud client sends a get request to the "/light/1" reso

[2021-05-12 10:49] WAvdBeek opened #23 "webos patches to be applied"
A patch file were made from the gerrit commits before gerrit went off line.  Those commits can be found here.
https://github.com/gnash117/iotivity-lite/blob/gerrit-patches/gerrit-patches/master-branch/0001-Comparing-porting-layer-between-linux-and-webos.patch
https://github.com/gnash117/iotivity-lite/blob/gerrit-patches/gerrit-patches/master-branch/0001-LITE-51-Add-webOS-porting-layer.patch
use gi

[2021-05-12 10:56] WAvdBeek opened #24 "Make COLLECTIONS_IF_CREATE available in SWIG"
Make COLLECTIONS_IF_CREATE available in SWIG aka Java language bindings
This is a task to expose the API that were added to IoTivity-lite under the OC_COLLECTIONS_IF_CREATE macro to the Java language using the SWIG interfaces.

[2021-05-12 11:04] WAvdBeek opened #25 "add a way to stop an ongoing discovery"
[Improvement] add a way to stop an ongoing discovery
Hello,

Currently all discovery functions have an implicit timeout of 60s by default... The problem is that when I start a discovery (via obt or normal api), I pass a data pointer. However I do not know when to free it since I do not have any way to either stop an ongoing discovery or be notified that the discovery process finished.

Looking at

[2021-05-12 11:08] WAvdBeek opened #26 "COAP message deduplication doesn't works properly"
COAP message deduplication doesn't works properly
Summary: The problem is that history of MIDs is shared among another devices and device as self.

What happens for 2 devices(first with iotivity-lite, second with another implementation(https://github.com/go-ocf/sdk)):

the second device sends GET /oic/res request
the first device sends response with CON, MID=26199 (MID is generated by the first de

[2021-05-12 11:09] WAvdBeek commented on #26
[devsim.zip](https://github.com/iotivity/iotivity-lite/files/6465738/devsim.zip)

[2021-05-12 11:10] WAvdBeek opened #27 "Build for Android Api 27 leads to "UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_is_owned_device"""
Build for Android Api 27 leads to "UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_is_owned_device""
Open

Build for Android Api 27 leads to "UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_is_owned_device""

Hello,

I have followed the step to build iotivity-lite for Android as explained here: https://iotivity.org/documentation/building-iotivity-android

The command us

[2021-05-17 14:50] WAvdBeek opened #30 "Error storing a new trust anchor"
Error storing a new trust anchor
Open

Error storing a new trust anchor

When I store a new trust anchor, I sometimes receive an error using the same PEM encoded certificate.

I call "OCPki.addTrustAnchor" method with a PEM encoded certificate and it works but it sometimes returns an error using the same PEM certificate.

DEBUG: ../../security/oc_pki.c <pki_add_trust_anchor:265>: attempting to add

[2021-05-17 14:51] WAvdBeek opened #31 "TIMEOUT state and "timer" Property"
TIMEOUT state and "timer" Property
Open

[Feature] TIMEOUT state and "timer" Property

Need to implement new TIMEOUT state similar to RESET Devices do not normally respond to network when in this state, and have to be manually reset and onboarded

Need to implement new /oic/sec/doxm:timeout Property The property is automatically set to 1800 at RFOTM, and starts counting down. If Device is not onbo

[2021-05-17 14:52] WAvdBeek opened #32 "[ branch: eps32 ] during own and onboard to the cloud, lot's of memory is consumed"
[ branch: eps32 ] during own and onboard to the cloud, lot's of memory is consumed
Open

[ branch: eps32 ] during own and onboard to the cloud, lot's of memory is consumed

As I mentioned during own and onboard heap memory was very consumed. To produce logs I applied patch print_debug.patch

And heap size:xyz occurs every second and describe how many memory is available at the esp32.

Own and Onbo

[2021-05-17 15:28] WAvdBeek opened #33 "Remove stringToEndpoint() variant that takes two parameters"
Comments from MR 114:
"With oc_endpoint_string_parse_path exposed to Java we are
able to update the OCEndpointUtil.stringToEndpoint method so
it can take only one parameter. Since developers are already
using the stringToEndpoint method that takes two parameters
we need to still provide that method."
The only implementation I know that does this is OTGC, which we can have changed in an
upcoming re

[2021-05-18 08:31] WAvdBeek commented on #11
as indicated in the CVE, the issue is in IoTivity which is no longer maintained.

[2021-05-25 13:19] WAvdBeek opened #35 "Regression in test 1.4.5"
This is regression with testing with CTT
commits 66faa4ab - eb95cf48 caused issue in test 1.4.5 Cloud: Last Error Code
Please see the logs:
CTT_Logs_Archive__3_.zip
It's in parts:

"Test IUT has to access non-existing cloud" and "Test create account return 4.01"

It could be reproduced every time.

FYI @mkettrick @Wouter

Hello,
before this change the cps was set to failed right after the first fa

[2021-05-25 13:20] WAvdBeek commented on #35
![image](https://user-images.githubusercontent.com/10404244/119504877-4c55c200-bd64-11eb-9ee4-f0261b086ffc.png)

[2021-05-25 13:22] WAvdBeek opened #36 "Implement WiFi Easy Setup (WES) in Iotivity Lite"
With the move to Iotivity-Lite, the WES feature must be implemented in Lite.

JIRA migration meta data

JIRA Issue ID: LITE-39

Reporter: ibrahimdanish

Assignee: kmaloor

Creator: ibrahimdanish

Created at: 2018-03-18T04:18:14.000-0700

Found in Version: N/A

Fix in Version: None

Issue Severity: Enhancement

Reproducibility: Always (100%)

Operating System: None

Hardware/ OEM Platform: None

Ex

[2021-05-25 13:26] WAvdBeek opened #37 "Bugzilla 2641-Resource Defaults"

[2021-05-25 13:27] WAvdBeek commented on #37
code is in branch 185-bugzilla-2641-resource-defaults

[2021-05-25 14:16] WAvdBeek opened #39 "easysetup"
merge
`easysetup` branch into master

[2021-05-26 08:01] #11 closed

[2021-05-26 13:12] bjornAndreassen opened #40 "oic/d piid issue with notification"
Since a few weeks its been possible to observe the oic/d resource. Changing the n parameter (name) on the oc/con resource will automaticaly change the n parameter on the oic/d resource. This will then trigger a notification to be sent to any observers of this resource. This works.

However, in the request callback for that resource  (oc_core_device_handler() in  https://github.com/iotivity/iotivit

[2021-05-31 02:57] xiao8xiao1 opened #41 "The official server app demo can not pass the CTT"
we Follow the official website documentation:   https://iotivity.org/getting-started-iotivity-device-simulation ，the topic is “Getting started with IoTivity - Device simulation”。and we do not change any code 。
But when we test the server app with the CTT tool， it failed.
we have try iotivity 2.2.0 with  CTT_2002.5.0 failed
then we try iotivity 2.2.2 with  CTT_2101.0.0  failed
our own porting devic

[2021-06-03 07:02] sejun2 opened #44 "UnsatisfiedLinkError when load Iotivity stack."
Here are errors.
`
2021-06-03 15:49:01.450 19006-19195/org.openconnectivity.otgc W/System.err: Native code library failed to load.
2021-06-03 15:49:01.450 19006-19195/org.openconnectivity.otgc W/System.err: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_resource_set_secure_mcast" referenced by"/data/app/org.openconnectivity.otgcZfcI22Et7mFTAd07egTxQA==/lib/arm/libiotivity-

[2021-06-03 08:40] LaiHuanHeng opened #45 "Build error"
Is it possible to provide an Android APi that has been built?

System:Windows10

mingw32-make.exe NDK_HOME=%NDK_HOME% ANDROID_API=21 DEBUG=1 SECURE=1 IPV4=1 TCP=0 PKI=1 DYNAMIC=1
CLOUD=0 JAVA=1 IDD=1
21 was unexpected at this time.
if [ -d ../../deps/mbedtls ]; then
cd ../../deps/mbedtls &&
git clean -fdx . &&
git reset --hard &&
cd -;
fi &&
git submodule update --init &&
cd ../../deps/mbedtls &&

[2021-06-03 09:27] LimSeJun opened #46 "Building at android has oscore related errors."
First I have met  unsatisfiedLinkError with symbol "oc_resource_set_secure_mcast".
After that my team researched about the  error in code, and made it fixed by modifying make file options.
But as soon as  fixing it, another error appeared.
`java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "oc_oscore_handler" referenced by "/data/app/org.openconnectivity.otgc-SkEMhEmWOyF9YO2QZX48

[2021-06-03 13:49] Oxymoron79 commented on #35
@WAvdBeek Could you test whether the CTT tests pass with #47?

[2021-06-04 09:01] WAvdBeek commented on #35
still waiting on the CTT version that belongs 2.2.3

[2021-06-04 09:13] #35 closed

[2021-06-09 08:08] WAvdBeek commented on #13
This is now automatically build:

https://github.com/iotivity/iotivity-lite/runs/2773024826?check_suite_focus=true
line 11
this builds correctly on Linux

[2021-06-09 08:08] #13 closed

[2021-06-09 08:13] WAvdBeek commented on #9
IoTivity 1.2.1 is no longer maintained.
This repo and issues are for IoTivity-Lite

[2021-06-09 08:13] #9 closed

[2021-06-09 08:14] WAvdBeek commented on #8
fixed

[2021-06-09 08:14] #8 closed

[2021-06-09 08:20] WAvdBeek commented on #14
which make command has been run?
just looking at the make file in master (port/linux) there is no compile target called device_builder_server

[2021-06-09 11:26] DavidMarquezF commented on #20
I believe it can be closed now

[2021-06-10 01:27] sejun2 commented on #44
I've got the solution for this error. The functions which is related to OSCORE definition have not completely worked to android version. So I removed OSCORE=1 when make-file and it completely works. But the other error occurred...
,which is failing ownership transfer using PKI. The server device normally send message to obt, but the message has no "rt" that makes null pointer exception and then ru

[2021-06-10 22:03] #20 closed

[2021-06-11 11:06] darioxrusso opened #52 "How interoperability works"
Dear community,
I'm searching information about Iotivity platform and in particular about interoperability among devices belonging to different standards and protocols.
For example, if I have two devices a switch button x and lamp y, once I impored them in the platform, how can lauch a command to lamp y to switch on the light? Using the Rest interface? Is it possibile to create a rule that make po

[2021-06-14 02:00] sejun2 commented on #52
I don't know this is applicable to ocf specification, but you may control them at once by setting post or put methods to do so.

[2021-06-14 09:44] WAvdBeek commented on #17
in file oc_doxm.c :

evaluate_supported_oxms(size_t device)
{
  doxm[device].oxms[0] = OC_OXMTYPE_JW;
  doxm[device].oxms[1] = -1;
  doxm[device].oxms[2] = -1;
  doxm[device].num_oxms = 1;

e.g. add compile option to remove OC_OXMTYPE_JW

[2021-06-14 14:34] WAvdBeek commented on #52
Hi dario,
please look at the specs:
https://openconnectivity.org/developer/specifications/
there is also a ppt describing on high level the specs:
https://openconnectivity.org/specs/OCF_2.2.2_Specification_Overview.pdf

There is a section about rules.
I hope this answers your question.

[2021-06-14 14:41] cstevens commented on #46
We need to know what your are building so we can see specifically what's happening. Can you provide some clarification?

[2021-06-14 14:50] cstevens commented on #45
TODO: Try to build this using OTGC instructions as an example. Work with Kishen, then document it in a place where we can point people.

[2021-06-14 16:41] WAvdBeek commented on #14
when using the device_builder device chain, this error might happen when gen.sh is not run
The gen.sh step creates the device_builder_server

[2021-06-15 07:29] WAvdBeek commented on #3
The software update feature is now using a regex pattern to validate the URI.
Hence removed Boost and the cpp-netlib from the build command.
The code is still there if someone wants to use it.

[2021-06-17 09:50] LaiHuanHeng commented on #45
I first asked the question in otgc-android, but I haven't received any response so far. What kind of information do I need to know to build the iotivity android api?

[2021-06-17 09:50] LaiHuanHeng commented on #45
I first asked the question in otgc-android, but I haven't received any response so far. What kind of information do I need to know to build the iotivity android api?

[2021-06-17 13:57] lubo-svk opened #54 "oc_main_poll never returns when onboarded device loses connection"
Hello,
I've found one issue that happens only when the device is onboarded to the cloud and loses network connection.
When a connection to the server is lost the iotivity-lite process `"TLS Process"` defined in `iotivity-lite/security/oc_tls.c`
will hang for a longer period of time (probably timeout issue).

During this time a lot of events will queue up and the stack is not able to process them b

[2021-06-21 06:26] ondrejtomcik commented on #54
ping @WAvdBeek @kmaloor

[2021-06-22 13:10] #26 closed

[2021-06-22 13:18] jkralik opened #57 "all ports: don't set SO_REUSEADDR for random port"
# What
When SO_REUSEADDR is set, then multiple process of device with small chance system can peak same port for coap, coaps, coap+tcp, coaps+tcp.

# Note
For linux it is fixed by PR: https://github.com/iotivity/iotivity-lite/pull/56
For other ports it's need to be implemented too.

# Replication:
It is replicable with 1000 processes (one per device) via docker with network host  - cca 20 ports ar

[2021-06-25 09:53] WAvdBeek commented on #57
fixed pull request #56 from iotivity/fix/sharedPort

[2021-06-25 09:53] #57 closed

[2021-06-25 10:01] WAvdBeek commented on #54
do we have data on how many polls we do in a time segment?

The issues looks more like that this is an issue in how multi threaded is set up.
I agree that the loop should be breakable for a timer tick in case of multithreading.

[2021-06-25 10:02] WAvdBeek commented on #41
https://github.com/iotivity/iotivity-lite/wiki/running-CTT-with-a-Device-Builder-generated-server

[2021-06-30 03:24] LaiHuanHeng commented on #45
[There are no errors as described above in this document](https://github.com/iotivity/iotivity-lite/blob/master/port/android/README.md)

[2021-06-30 03:25] #45 closed

[2021-06-30 03:40] LaiHuanHeng opened #59 "Build error 2"
### [Build from this document](https://github.com/iotivity/iotivity-lite/blob/master/port/android/README.md)
### Command in case of build error

### Error message

 defined at oc_iotivity_lite_jni.h:122 (iotivity-lite-java/jni/oc_iotivity_lite_jni.h:122)
            ../port/android/arm-linux-androideabi-obj/swig/oc_api_wrap.o:(cls_ArrayList)
 defined at oc_iotivity_lite_jni.h:122 (iotivity-lite-ja

[2021-06-30 11:36] WAvdBeek commented on #5
fixed on master

[2021-06-30 11:36] #5 closed

[2021-07-19 01:54] Sswordq opened #62 "ocf server loss "Encrypted Alter" package caused error"
Hello,

When ocf server loss "Encrypted Alter" package, new "Client Hello" won't be replayed.
![image](https://user-images.githubusercontent.com/3970968/126091844-1c41b159-dfd2-4485-8bc3-847c591dd5c7.png)
![image](https://user-images.githubusercontent.com/3970968/126091908-4be70752-82ba-46df-b84e-0cd54c000f76.png)

[2021-07-28 03:41] JJongTaeng opened #66 "window build error"
There is an error in the sln file when building on Windows.

</CustomBuild> is missing.

[2021-07-28 09:54] Trishia opened #67 "How to make cloud de-register operation in server_certification_tests.c ?"
@kmaloor

I'm wondering how to make cloud de-register operation in [server_certification_tests.c](https://github.com/iotivity/iotivity-lite/blob/master/apps/server_certification_tests.c).

Cloud Register, Cloud Login, Cloud Logout, Cloud Refresh Token, Publish Resources operations work well but Cloud DeRegister only shows "Could not issue Cloud Register request" at any situation.

How can I do tha

[2021-07-28 14:23] Trishia commented on #67
@kmaloor
I have known that device reset also calls oc_cloud_deregister() internally. I used to witness deregister event on the cloud when resetting device by obt a few months ago.

What is the cause of this problem ?  This [commit](https://github.com/iotivity/iotivity-lite/commit/60138901935d4832599a1ead6486c152bc1a68d0#diff-8feb5153f556c5f1efac98606a0bf77d2c4367f7708f38186088d3b69ff49a52) of oc_c

[2021-07-28 15:26] Trishia commented on #67
@kmaloor

I found error message caused by oc_do_delete() in cloud_access_deregister() of oc_cloud_apis.c like below :

The error message shows that "Serialized header length 1051 exceeds COAP_MAX_HEADER_SIZE 181-TCP" because delete query uri including access token, uid, di is too long I guess.
How can we handle this coap limitation ?
[code]

[2021-07-29 07:58] Trishia commented on #67
@kmaloor

It has logical problem of calculating tpc coap header size which has long option size because of long query uri including accesstoken.

In the code https://github.com/iotivity/iotivity-lite/blob/master/messaging/coap/coap.c#L1104, https://github.com/iotivity/iotivity-lite/blob/master/messaging/coap/coap.c#L1128, https://github.com/iotivity/iotivity-lite/blob/master/messaging/coap/coap.c#

[2021-08-03 07:54] jkralik commented on #67
By RFC of coap the max size of OPTION Uri-Query is 255 bytes https://datatracker.ietf.org/doc/html/rfc7252/#section-5.10 so the maximum size of the token can be 243bytes.  ( len("accesstoken=")=12 + len(token)244bytes".

So you cannot push JWT token as a query parameter - you need to split it into more query options but this is not supported by OCF spec now. We extended OCF spec that the device ca

[2021-08-03 09:43] Trishia commented on #67
@jkralik @ondrejtomcik  @marktrayer
I have got the CRs (i.e. CR3298, CR3299) related to this issues from Mitch. De-registering without accesstoken can solve this issue about option uri-query length and any other problems as well. For now the only way to do de-registering of iotivity-lite device does not work. Do I have to remove accesstoken in Uri-Query of oc_cloud_deregister() ? or wait to be fix

[2021-08-11 06:24] Trishia commented on #67
Regarding the implementation about Delete /oic/sec/account without access token issue, the jakarta branch of iotivity-lite has implemented it so the issue of limited option size for uri query in coap message was solved. And plgd cloud can accept this message without access token as described in https://github.com/plgd-dev/cloud/issues/360.

[2021-08-11 06:24] #67 closed

[2021-08-31 16:07] #41 closed

[2021-09-13 10:55] AntGarrido opened #107 "Credential Type always returns "Unknown""
OCCred_credType_get returns 0 (Unknown) for all credential types when used in Linux. When used in Android, however, it returns proper codes and works as expected.

For Linux the compilation flags are:
DEBUG=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 CLOUD=1 JAVA=1 IDD=1

[2021-09-20 08:40] bjornAndreassen opened #109 "message transaction issue"
During large scale deployments, with 10000 iotivity-lite servers connected to a cloud application (plgd) a segv occurs in the message message transaction part of iotivity-lite. This only happens after many ours of uptime.

**End of console output:**
Cloud Manager Status:
-Registered
-Token Expiry: 3478
-Logged In

Cloud Manager Status:
-Registered
-Failure

Cloud Manager Status:
-Registered

Cloud

[2021-09-21 16:28] #3 closed

[2021-09-21 16:29] WAvdBeek commented on #15
bug has been resolved

[2021-09-21 16:30] WAvdBeek commented on #16
2716 is in backlog, hence closing this issue.

[2021-09-21 16:30] #16 closed

[2021-09-21 16:31] #14 closed

[2021-09-21 16:35] WAvdBeek commented on #37
part of jakarta, hence code is integrated.

[2021-09-21 16:35] #37 closed

[2021-09-22 05:32] JonasAnderssonn opened #112 "False positive error printout in oc_blockwise_free_buffer?"
Isn't the error printout in oc_blockwise_free_buffer a false positive?
I get a lot of "buffer is NULL" when I enable error printouts using plgd.dev branch.
Couldn't this error printout be removed from oc_blockwise_free?

[code]

[2021-09-24 12:11] AntGarrido commented on #107
Using onboarding_tool (C), code 19 (Retrieve own creds), values are as expected:
[code]

However, using java_onboarding_tool, returns this:
[code]

For all credentials, _credid_ is always "0", _credtype_ "Unknown", and _credusage_ "None"

I've noticed the Makefile for swig has some SWIG_CFLAG missing:
[code]

With these changes, I'm able to see now the correct _credusage_ values
[code]

But _credi

[2021-09-28 10:49] SiMet opened #120 "Sample apps use IDD from path not in repository"
Applications simpleserver-TVAppAndAction.c and simpleserver-resourcedefaults.c use IDD file hosted on path c:/users/m.trayer/OCF which is not part of the repository.

[2021-10-05 07:28] WAvdBeek commented on #112
can you make a pull request?

[2021-10-06 10:09] AntGarrido opened #132 "Error reading private data of Symmetric key using Java/Android"
After reading own certs, when reading private data of symmetric key, JNI fails casuing a crash on the Android application. Usually reading the certs just after a reset works, but after closing and opening the application the function fails:

A/nnectivity.otg: java_vm_ext.cc:577] JNI DETECTED ERROR IN APPLICATION: input is not valid Modified UTF-8: illegal start byte 0x9f
    java_vm_ext.cc:577]

[2021-10-11 09:45] bjornAndreassen commented on #109
This issue can now be closed. The casue was found and fixed in PR:
https://github.com/iotivity/iotivity-lite/pull/129
This was merged to master.

[2021-11-09 18:02] LeonidKokhnovich opened #154 "Bitcode support"
Hi! Thanks for such a great project. I wonder if there is a chance to support Apple's BitCode feature so the apps that rely on the current framework could also have that enabled? Thanks!

[2021-11-10 11:20] WAvdBeek commented on #154
can you supply a bit more info about Apple's BitCode feature?

[2021-11-29 03:11] #44 closed

[2021-12-10 17:33] Danielius1922 opened #167 "Cannot identify to which oc_collection a newly created dynamic resource belongs during creation"
Resource instances are created by `oc_resource_get_instance_t` callback. Resource factories are grouped by resource type (ie. when creating a resource with the same type the same callback is always invoked). If a device has multiple collections which can create resources with the same resource type then it is impossible to determine the parent collection of the resource being currently created.

T

[2021-12-10 17:33] Danielius1922 commented on #167
@JonasAnderssonn @ondrejtomcik @jkralik

[2022-01-17 13:46] #167 closed

[2022-01-26 12:15] #40 closed

[2022-02-02 22:37] LordMike opened #182 "Export functions through DLL for other libraries to use"
I'm not entirely sure how this is meant to work, but if I want to interop with the API from C#, I had to do the following:

* Compile as a dll (please provide binaries :))
* Add `__declspec(dllexport)` to functions, to ensure they're exported

Could these things be done in the project itself, so that I and others can interop with the produced binary?

[2022-02-04 16:37] Oxymoron79 commented on #182
Yes, that can be done in the project, but in a portable way. This is often achieved with a pre-processor macro like this one: https://github.com/zeromq/libzmq/blob/master/include/zmq.h#L62

[2022-02-04 19:34] LordMike commented on #182
Yes, exactly. I had a hard time adding these locally, as there are _so_ many methods, and I couldn't quickly identify which ones should be exported. It would have been easier if all public methods had been defined using a macro, so I could modify that and thereby add the export declaration.

A macro could be helpful also to ensure a consistent API surface, such as the `oc_` prefix.

[2022-02-14 08:49] ondrejtomcik opened #189 "note: the cmake does now build the test executables but does not run them"
note: the cmake does now build the test executables but does not run them

_Originally posted by @WAvdBeek in https://github.com/iotivity/iotivity-lite/issues/188#issuecomment-1036409500_

[2022-02-22 09:01] #189 closed

[2022-02-23 09:59] SiMet opened #195 "[Regression][CTT tests]Fails of tests 1.2.2, 1.2.6, 1.4.8, 1.4.9 - incorrect empty fields"
Hi all,

After commit a3a75a532e073da44dd15dbf34c5a99ffdd5eef8 we found regression in testing with the CTT:
[2022-02-23-01-50-11_Server Certification_retest.zip](https://github.com/iotivity/iotivity-lite/files/8123310/2022-02-23-01-50-11_Server.Certification_retest.zip)

There are issues:
1.2.2 - empty SID in response from CoApCloundConf does not match pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA

[2022-02-23 09:59] SiMet commented on #195
FYI @Oxymoron79 @WAvdBeek @o-andrieiev

[2022-02-23 10:20] WAvdBeek commented on #195
Josef, since this is cloud related, can you take a look?

[2022-02-24 08:47] city256 opened #198 "raspberry pi build error"
hi

Ioticity-lite is installed on raspberry pi, and an error occurs while continuing to run build.sh.

https://iotivity.org/GS_DS/
Even if follow the site above, the following errors occur.

I would appreciate it if you could tell me the solution.

[2022-02-24 09:39] Danielius1922 commented on #198
Hi @city256, can you please tell me your compiler and its version that you're using?

I think gcc >= 9 has some new diagnostic warnings and having `-Werror` enabled causes compilation failure.

[2022-02-24 12:03] SiMet commented on #195
After fix #199 issues from tests 1.2.2 and 1.2.6 gone.

However, there is still issue in tests 1.4.8 and 1.4.9 which require that 'cis' will be coaps+tcp://127.0.0.1

Please see Table 13 – Default values for CoAPCloudConf Resource of "OCF Device to Cloud Services Specification VERSION 2.2.5" (https://openconnectivity.org/specs/OCF_Device_To_Cloud_Services_Specification_v2.2.5.pdf)

If empty value

[2022-02-24 12:26] #198 closed

[2022-02-28 09:06] #195 closed

[2022-02-28 16:13] FrankZRS opened #207 "Auto formatting doesn't work"
Commenting ~format under a pull request doesn't invoke cascoda bot, if the PR is opened by me.

Example of failed workflow run:
https://github.com/iotivity/iotivity-lite/runs/5362208574?check_suite_focus=true

[2022-03-02 14:16] tiniuclx commented on #207
Problem only occurs when trying to run the autoformatter on a fork of Iotivity-Lite. The workflow of making a new branch & adding your changes there still works as normal.

[2022-03-14 08:38] Danielius1922 opened #219 "Flush IO buffers after write (Windows)"
Port https://github.com/iotivity/iotivity-lite/pull/202/commits/a5b3ba4955dfe569f1c9aa1e6ee7ccc4b0bd7887 to Windows (and possibly to other platforms as well). This should ensure that data is written to disk and no data is lost on malfunction.

[2022-03-16 12:18] ondrejtomcik opened #222 "Floating point number shall be accepted by double attribute"
The CBOR serializers to optimize the transfer size serializes double to floating-point numbers. Currently, the IoTivity-Lite won't deserialize floating-point numbers to double attributes.

It would be very welcome to support the deserialization of floating-point numbers to attributes of types double.

Note: Test with double arrays.
Where: https://github.com/iotivity/iotivity-lite/blob/master/api/o

[2022-03-24 08:32] #219 closed

[2022-03-29 13:53] Oxymoron79 commented on #222
Shouldn't iotivity-lite rather add support for floating point numbers instead?
As `double` uses twice the space as `float` (see https://en.cppreference.com/w/cpp/language/types), iotivity-lite should make use of the memory space savings that would come with the support of floating point types, IMO.

[2022-03-29 17:47] ondrejtomcik commented on #222
Sure, supporting float would be nice as well. But if the float is received and the attribute is of type double, it should be successfully deserialized to double. That's what causes the issue.

[2022-04-05 07:29] SiMet opened #234 "[CTT] Regression in oic.r.softwareupdate resource"
Hi,

After changes from #229 CTT start failing tests 1.2.3 and 1.7.8.3.

I see that already there rule for schema validation fails.
In schema: https://github.com/openconnectivityfoundation/core-extensions/blob/OCF-v2.2.5/swagger2.0/oic.r.softwareupdate.swagger.json
we see that update should require properties: ["purl", "swupdateaction", "updatetime"] while now it's not.

Change of code or schema i

[2022-04-05 07:29] SiMet commented on #234
FIY @WAvdBeek

[2022-04-05 11:53] Oxymoron79 commented on #234
I was looking into the specification for the software update resource (OCF Core Optional Specification, Section 5.3.5) before I proposed #229:
I couldn't conclude from the specification, that the `purl` property needs to be set with a `updateaction` and a `updatetime`. On the contrary, the typical update scenario depicted in Figure 4 shows the setting the `purl` property as a separate `software up

[2022-04-05 12:21] WAvdBeek commented on #234
i am reverting this change.
the spec is not going to change to accomodate this sw change.

[2022-04-06 05:18] ondrejtomcik commented on #234
@WAvdBeek could you please look into the schema and flow Martin described based on the spec? I think nobody tested it in real, just wrote a test verifying properties but didn't consider the end-to-end scenario.

[2022-04-06 07:46] WAvdBeek commented on #234
no, we are not going to change the spec, the schema is part of the spec and it is being enforced by the CTT.

[2022-04-06 08:22] SiMet commented on #234
After revert this issue is solved. From my perspective this ticket could be closed.

[2022-04-06 08:58] #234 closed

[2022-04-06 09:02] ondrejtomcik commented on #234
I agree that spec defines the state of art - model as well as workflow and that it needs to be verified by the CTT.

The question is if you could verify our understanding of the spec, and the inconsistency we see there? We are not asking to revert your revert, just help us to understand and make software updates as defined by the OCF usable in real production - either by doing a CR that fixes the

[2022-04-06 09:08] ondrejtomcik commented on #234
Yes. And just another reason why I need to hurry up with CTT automated builds with GitHub. Will continue on this during vacation! :)

[2022-04-07 07:04] Oxymoron79 commented on #234
If I update the POST request in #229 to require the `purl` property again, the CTT test would then pass, right?
That should be easy to do.

[2022-04-07 07:28] SiMet commented on #234
Please, write me an email marek.szkowron@comarch.com in case you prepare change and like to get tests results.

[2022-04-08 15:18] Danielius1922 opened #240 "Data races detected by thread sanitizer in messagingtest"
Two data races are detected when running tests with thread sanitizer enabled.

[code]

[code]

[tsan-data-races-in-tests.txt](https://github.com/iotivity/iotivity-lite/files/8453278/tsan-data-races-in-tests.txt)

[2022-04-15 11:24] kwlodarczyk opened #247 "CTT test case CT1.3.17 is failing"
The recent commit f4be68d136  introduced a change that causes the CTT test case CT1.3.17 to fail with the below error:

[code]

Here is the full test log:
[2022-04-15-12-54-11_Server Certification_retest.zip](https://github.com/iotivity/iotivity-lite/files/8495619/2022-04-15-12-54-11_Server.Certification_retest.zip)

For comparison here is a test log for an earlier commit 4745cdf78f7, without the

[2022-04-21 07:11] #240 closed

[2022-04-21 07:15] WAvdBeek commented on #222
OCF only does JSON numbers, what is below is not really relevant..
so we could map a CBOR float to double in the underlaying code

[2022-04-22 07:19] SiMet commented on #247
Issue is already fixed

[2022-04-22 07:19] #247 closed

[2022-05-11 09:12] cmsong-shina opened #262 "What is the proper develop flow about esp32 port?"
I did

1. install iotivity-lite with [[setup tool](https://github.com/openconnectivity/IOTivity-Lite-setup)](https://github.com/openconnectivity/IOTivity-Lite-setup)

[code]

2. install esp-idf with [[instruction](https://github.com/iotivity/iotivity-lite/tree/master/port/esp32)](https://github.com/iotivity/iotivity-lite/tree/master/port/esp32)

[code]

3. edit `build.sh`

   *build.sh*

[code]

4

[2022-05-19 14:07] hannaalmaawali opened #266 "Update mbedtls to version 3.1.0"

[2022-05-19 14:21] SiMet commented on #266
There is PR #265

[2022-05-19 22:21] Danielius1922 commented on #266
mbedtls updated to v3.1.0

[2022-05-19 22:21] #266 closed

[2022-05-26 07:06] LaiHuanHeng commented on #59
![1653548447(1)](https://user-images.githubusercontent.com/16424138/170436073-67815d8a-40a7-48c9-92f7-818e41c80b1a.png)

[2022-06-17 07:06] avpmax opened #279 "About the failure of some CTT test cases"
I am developing in ESP32 (WROOM-32D) environment.
However, it does not pass some tests of CTT(ver 2102.0).
The failure of the test case is also reproducible in the provided examples.
(simple_server example that generated by build.sh or esp32 port)

**Fail:**
CT1.7.4.7 Credential for onboarding and post-onboarding (D)TLS session establishment
CT1.7.8.11 Implicit Behavior of SVR Properties in Each D

[2022-07-14 06:46] ondrejtomcik opened #284 "DNS resolve is not repeated within cloud manager retries"
**How to reproduce**
1. Build IoTivity with debug logs
2. Set a wrong DNS server (real scenario is that the DNS server is slow, or internal configuration of DNS takes a few seconds)
3. Provision the device to the cloud

**Expected behavior**
The device tries to connect. If the DNS resolve fails, resolve will be repeated during the next reconnect to the cloud.
[code]

**Current behavior**
If DNS re

[2022-07-19 08:22] #284 closed

[2022-07-28 15:09] finlaymorrison opened #291 "Failure to build virtual device."
The repository was cloned and `./gen.sh` was run, and upon running `./build.sh` the following error was given. I am compiling on Debian GNU/Linux 11.
[code]

[2022-08-16 17:21] Danielius1922 commented on #291
Sorry, this has been fixed in master months ago.

Are you going by this guide https://openconnectivity.github.io/IOTivity-Lite-setup/ ? If you try using `install-master.sh` instead of `install.sh` the issue should occur.

@jkralik, we should consider a new release.

[2022-08-16 20:04] jkralik commented on #291
@Danielius1922 Sure, with version 2.2.5.2

[2022-08-25 07:04] jkralik commented on #262
@cstevens Could you look at it ? Thx

[2022-08-25 08:51] Askidea opened #299 "In iotivity-lite v2.2.4.3, UNOWNED multiple devices are not discovered at once, but one or two irregularly in OnboardingTool"
There are the following differences when discovering multiple devices between iotivity-lite v2.2.0 and v2.2.4.3.

(1) v2.2.0 : all devices are discovered by one discovery request in OnBoardingTool
    MultiDeviceServer (Android) : v2.2.0  <===> OnBoardingTool (Android and Linux) : v2.2.4.3

(2) v2.2.4.3 : devices are discovered one by one for each discovery request
    MultiDeviceServer (Android)

[2022-08-25 09:52] Danielius1922 commented on #299
@jkralik do you have an idea what might have changed? v2.2.0 is before my time, so I'd have to look in commit history.

[2022-08-26 05:51] Askidea commented on #299
Perhaps the discovery mechanism for the '/oic/sec/doxm' resource in the OCFServer stack has changed as the upgrade to v2.2.4.3 is made (v2.2.5.1 also). Es

* method call hierachy (UNOWNED device discovery)
OnBoardingTool --> **OcObt.discoverUnownedDevices()** ( Android, Java ) ------> **discover_unowned_devices()** (oc_obt.c) --> **oc_obt.c::oc_do_ip_multicast("/oic/sec/doxm", "owned=FALSE", ...)*

[2022-08-26 06:46] Askidea opened #300 "In MultiDeviceServer with iotivity-lite v2.2.4.3, ownership setting (e.g. JW OTM) fails from the second device onwards."
Using Android apps, MultiDeviceServer and OnBoardingTool with iotivity-lite v2.2.4.3 or later, OTM failed from 2nd device.
OTM to the first device is OK, but OTM to the second device fails regardless of the OTM type.

In iotivity-lite v2.2.0, OTM was successful for all devices added in MultiDeviceServer.

What changes have occurred since the iotivity-lite version was upgraded?

[ MultiDeviceServer

[2022-08-26 06:53] Askidea commented on #299
Build options for iotivity-lite.jar, iotivity-lite-jni.so

...port/android$ make NDK_HOME=~/toolchains/ndk18-android-arm-23 ANDROID_API=23 DEBUG=1 CLOUD=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 JAVA=1 IDD=1 OSCORE=1 MNT=1

[2022-08-26 09:30] jkralik commented on #279
@avpmax Could you please try it with the current master branch? I merged a new version this week that contains some fixes.

[2022-08-26 16:03] Danielius1922 opened #301 "Running GitHub jobs from forks"
And issues encountered in https://github.com/iotivity/iotivity-lite/pull/269 , some jobs don't work correctly from forked repository. Namely:

- ctt-bot.yml - the action doesn't receive secrets -> can be maybe fixed by using pull_request_target instead of pull_request event. EDIT: :heavy_check_mark: yes, pull_request_target works correctly
- ctt-test.yml - python ../../github_run_ci.py --commit ${

[2022-08-26 21:13] SiMet commented on #301
Hi, it's possibile to add new parametr --repository
Do you have any sample which I could test?

[2022-08-27 05:26] ondrejtomcik commented on #301
It is possible, but why do you need it @Danielius1922 ?

[2022-08-27 10:34] Danielius1922 commented on #301
Yes, you can use the PR that revealed this issue - https://github.com/iotivity/iotivity-lite/pull/269 . joochlee's fork is at https://github.com/joochlee/iotivity-lite . Right now running the ctt-test job fails, because I think it cannot find the latest commit in the PR (f9c0d5da69aaf43bd3dab2a6cc37ec25f2d4972e) that's sent as the `--commit ` parameter.

I haven't seen how `github_run_ci.py` but I

[2022-08-31 09:58] Danielius1922 commented on #299
@Askidea if I understand correctly what @jkralik told me then this is correct behavior and reflects a change in specification. Though I wasn't able to pinpoint the precise place in some document from https://openconnectivity.org/developer/specifications where it is mentioned, maybe @ondrejtomcik can help?

[2022-08-31 11:29] Danielius1922 commented on #300
I think I found the source of the issue - https://github.com/iotivity/iotivity-lite/commit/c9e97deac32a1ff989101c4ec8a6fb78fcd285a3 .

The problem is that for multicasts the get doxm handler uses static buffer that's shared by all devices (`static oc_separate_response_t doxm_separate_response`). When you have multiple devices they all want to use the single buffer and just overwrite it. I'll discu

[2022-09-09 12:01] #300 closed

[2022-09-13 06:08] Askidea opened #312 "java.lang.UnsatisfiedLinkError: dlopen failed"
The iotivity Android library was built in the branch 'master', commit '9c8ea1a' environment. And when I apply it to the app, build and run it, the following error occurs. The app repeatedly closes and restarts indefinitely.

< Logcat >
2022-09-13 12:30:06.401 15305-15305/org.iotivity.multideviceserver W/System.err: Native code library failed to load.
2022-09-13 12:30:06.401 15305-15305/org.iotivit

[2022-09-13 08:12] Danielius1922 commented on #312
Hello @Askidea,

Build `oc_tcp_connection_state` is a new function I've added last week. The Android job is broken, so that's probably the reason why we didn't catch this. I'll fix it.

BTW: You seem to have a working Android environment, could I perhaps ask you for a little help with this? I've updated the Android build - https://github.com/iotivity/iotivity-lite/pull/293/files, but I don't have

[2022-09-13 10:16] Askidea commented on #312
Hi @Danielius1922,
Thank you for your reply.

I think I can help you with what you said.
I will test your branch and share the results.
However, please understand that we may not be able to share it immediately due to the time difference.

[2022-09-13 10:49] Danielius1922 commented on #312
Thank you!

I've updated it and now it also should fix the `oc_tcp_connection_state` linker error.

[2022-09-14 03:28] Askidea commented on #312
@Danielius1922

What branch did you update? Did you push?

[2022-09-16 02:18] joochlee opened #314 "build link error (when IDD=0 && SECURE=0)"
when iotivity-lite is built with `OC_IDD_API_ENABLED=FALSE` and `OC_SECURE_ENABLED=FALSE`, linker fails:

[code]

Both `cmake` and `makefile` fails.

[2022-09-16 07:54] Askidea commented on #299
When iotivity-lite v2.2.4.1 is applied, all OCFServer devices in the MultiDeviceServer are discovered at once in the OnBoardingTool.

[2022-09-16 08:36] Askidea commented on #299
@jkralik
Anyway, if OCF platform can contain multiple OCF Server devices, it seems right that each OCF server(unowned state) should respond to the multicast request designated as "owned=false". Is this right?

[2022-09-19 02:32] Askidea opened #317 "dlopen error occurs in Android when v2.2.5.2 is applied"
git TAG : v2.2.5.2
iotivity-lite/port/android$ make NDK_HOME=~/toolchains/ndk18-android-arm-23 ANDROID_API=23 DEBUG=1 CLOUD=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 JAVA=1

Following error occured.

2022-09-19 11:27:43.866 17396-17396/net.quber.sm.ocfclient W/System.err: Native code library failed to load.
2022-09-19 11:27:43.866 17396-17396/net.quber.sm.ocfclient W/System.err: java.lang.Unsatisfie

[2022-09-19 03:55] Askidea commented on #312
@Danielius1922
branch "adam/feature/fix-android-job"
port/android$ make NDK_HOME=~/toolchains/ndk18-android-arm-23 ANDROID_API=23 DEBUG=1 CLOUD=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 JAVA=1

Following error:

2022-09-19 12:06:17.458 19906-19906/net.quber.sm.ocfclient W/System.err: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "cls_ArrayList" referenced by "/data/app/net.qube

[2022-09-19 03:57] Askidea commented on #312
@Danielius1922
branch "adam/feature/fix-android-job"
port/android$ make NDK_HOME=~/toolchains/ndk18-android-arm-23 ANDROID_API=23 DEBUG=1 CLOUD=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 JAVA=1

Following error:

2022-09-19 12:06:17.458 19906-19906/net.askidea.sm.ocfclient W/System.err: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "cls_ArrayList" referenced by "/data/app/net.as

[2022-09-19 07:52] Danielius1922 commented on #312
Updated the branch again, hopefully no missing symbols anymore. (Sorry about this, but I have nobody else to test this but you.)

[2022-09-19 11:09] Askidea commented on #312
@Danielius1922  Thank you for your contribution.

(1) branch : "adam/feature/fix-android-job"

(2-1) build options #1 :  Android app running OK!
iotivity-lite/port/android$ make NDK_HOME=~/toolchains/ndk25-android-arm-23 ANDROID_API=23 DEBUG=1 SECURE=1 IPV4=1 TCP=0 PKI=1 DYNAMIC=1 CLOUD=0 JAVA=1 IDD=1

(2-2) build options #2 : error as follows
iotivity-lite/port/android$ make NDK_HOME=~/toolchains

[2022-09-19 16:28] Danielius1922 commented on #312
@Askidea Updated the branch again. Thank you for your help again!

[2022-09-20 11:45] Askidea commented on #312
@Danielius1922 Thanks,
branch : "adam/feature/fix-android-job", commit [8ee5236]
build option : CLOUD=0 TCP=0
==> OCF Client app runs without errors.

Additionally, I'm also doing a conformance test with CTT 2103.0.0, and the following items are FAILED for the attached PICS file.
Network interface was selected as IPv6.
 - CT1.7.2.4 FAILED
 - CT1.7.8.2 FAILED  (if all build options are true, this m

[2022-09-20 14:00] Danielius1922 commented on #312
Nice, I can merge it then and at least fix the android Github job, so thank you for your help!

Regarding CTT stuff, I'm not sure I can help you with that, I do not know the internals of the CTT tools. My experience is limited to debugging failing test cases for Linux port. I do not know the interaction between the PICS file, compile configuration and simulator binary.
Perhaps the failing test cas

[2022-09-23 08:34] Askidea opened #318 "Fatal signal 11 (SIGSEGV) in Android's iotivity library"
Hello everyone!

In the GetRequestHandler part or initPost() processing, a fatal error occurs in the line below and the app crashes.
There is no error like this in previous versions, v2.2.4.3 or earlier.
This error related to the test case CTT "CT2.2.3 Partial UPDATE Message based on CoAP".

**error line ===>> OcCborEncoder root = OcCborEncoder.createOcCborEncoder(OcCborEncoder.EncoderType.ROOT)**

[2022-09-23 13:13] Danielius1922 commented on #318
I think this commit - https://github.com/iotivity/iotivity-lite/commit/d349ec91961d25ba76339f767d752f6af74b381e#diff-82d018ba0de8e0bd03ba54e7695dc4d77777346ce4c14a8247fa1d7091c53b59 - is the culprit. If you check oc_rep.h then new oc_rep_encode_* functions were created and all calls to cbor_encode_* were rewritten to oc_rep_encode_* calls. However, this wasn't done to the jni_* calls. I do have so

[2022-09-26 12:51] Danielius1922 opened #319 "Push notifications improvements"
- [ ] Fix static analysis issues introduced by OC_PUSH functionality. Check issues reported by SonarCloud (https://sonarcloud.io/summary/overall?id=iotivity_iotivity-lite) and clang-tidy (https://github.com/iotivity/iotivity-lite/actions/workflows/static-analysis.yml) in oc_push.c (or other related files).
- [ ] Add unit tests to get reasonable code coverage (usually ~70% is good enough).

[2022-09-28 07:13] Askidea opened #321 "Question about : v2.2.4.3 verified as compliant with the CTT"
Hello,

I have a few questions regarding the CTT certification.

I saw that v2.2.4.3 was verified to be CTT compatible in tags description. If so, I would like to know in what test environment it was performed at the time of verification. The CTT version will be 2103.0.0, I wonder what the IUT is and what the PICS file contents are.

I am developing OCF Client in the Android app to which the iotiv

[2022-09-28 07:37] SiMet commented on #321
Hi,

We test it only with Linux env.
We use CTT from lastest code (As a Comarch we develop this tool), so it could contain some not released fixes and updates.

We use For testing we use few sample applications:

ServerCertification (TCP=1 IPV4=0 SWUPDATE=1 CREATE=1 MNT=1 CLOUD=1 DEBUG=0 V6DNS=1 WKCORE=1)
PICS:```{
    "device": "Device_name",
    "company": "Company_name",
    "platformVersion":

[2022-09-28 10:07] Askidea commented on #321
@SiMet Thanks for your kind reply.

In Android, I'm testing my OCF Client app with v2.2.4.3 or master branch and CTT 2103.0.0.

* build options :
make NDK_HOME=~/toolchains/ndk21-android-arm-23 ANDROID_API=23 DEBUG=1 CLOUD=1 SECURE=1 IPV4=1 TCP=1 PKI=1 DYNAMIC=1 JAVA=1 IDD=1

May I ask for some advice on how to test the next item of CTT?
**(1) CT1.2.6 RETRIEVE Message with observe indication based

[2022-09-28 10:49] SiMet commented on #321
@Askidea

1) CT1.2.6 in our test app we set /oic/p and /oic/d as not observable. Does your device require to have /oic/d /oic/p resources observable?

2) In test CT2.2.7 CTT starts simulator which you should be able to discover. In discovery response there are endpoints for each resource. You need to look for endpoint which starts with "coap+tcp" or "coaps+tcp" and perform Retrieve operation on su

[2022-09-29 15:30] Askidea commented on #321
@SiMet

(1) CT1.2.6
Regarding Linux, there is the method to set resources(/oic/p, /oic/d, etc)  obsersable or unobserable by getting the resource  by index. But, for Android, probably there is no any java binding method to get resource object about /oic/p or /oic/d.

[Example: server_certification_tests.c]
  oc_resource_t *device_resource = **oc_core_get_resource_by_index**(OCF_D, DEVICE);
  **oc_

[2022-09-29 20:56] SiMet commented on #321
I'm not expert in JNI and Swig but there is probably method in Java **OCCoreRes.getResourceByIndex** which is bound to **oc_core_get_resource_by_index**?

Please see: https://github.com/iotivity/iotivity-lite/blob/master/swig/swig_interfaces/oc_core_res.i

[2022-09-30 09:42] Askidea commented on #321
@SiMet

Thanks for your advice. I modified the code based on your advice, and CT1.2.6 passed.
For your information, I used a more intuitive **OCCoreRes.getResourceByUri()** instead of getResourceByIndex(). Finding resources with indexes was not easy.

[2022-09-30 11:34] SiMet commented on #321
I'm not familiar with Android implementation. Maybe @Danielius1922 could help us or point someone who could help us.

[2022-10-01 15:59] Askidea commented on #321
@SiMet, @Danielius1922
For CT2.2.7, after changing to IPv4/Secure/TCP, the TCP connection was successful and the CT item was passed. But for IPv6, the TCP connection failed as I said above.
Why is IPv6 TCP connection working on Linux and not on Android? Could it be a problem with the mbedtls library?
For now, this is what I've checked.

![image](https://user-images.githubusercontent.com/74634317/1

[2022-10-06 17:09] Danielius1922 commented on #321
Sorry, I didn't notice this. I'm not really familiar with Android implementation either, however as far as I'm aware it's almost identical to the Linux v2.2.5.1.

Your log analysis seems to be on the right track, however I think the OC_CLIENT ifdef is working because the log

[code]

is always under OC_CLIENT ifdef, and that log occurs in both of the log traces you posted, so that makes me think i

[2022-10-12 04:55] Askidea commented on #321
@Danielius1922

For IPv4, also following line appeared. But TCP connection initiated successfully (CT 2.2.7).
`
2022-10-12 13:43:17.478 14638-14662 I/../../security/oc_tls.c <oc_tls_load_identity_cert_chain:1238>: loading identity cert chain
2022-10-12 13:43:17.478 14638-14662 I/../../security/oc_tls.c <oc_tls_configure_end_entity_cert_chain:1219>: error configuring identity cert
2022-10-12 13:43:

[2022-10-13 17:32] Danielius1922 commented on #321
@Askidea can you please retry with the branch from this PR - https://github.com/iotivity/iotivity-lite/pull/327 ? I've added some logs, lets see if they tell us something.

[2022-10-14 04:21] Askidea commented on #321
@Danielius1922

Here are the log files.

[OCFClient_log_android-tcp-logs_20221014.txt](https://github.com/iotivity/iotivity-lite/files/9782435/OCFClient_log_android-tcp-logs_20221014.txt)

[CTT_log_android-tcp-logs_20221014.txt](https://github.com/iotivity/iotivity-lite/files/9782437/CTT_log_android-tcp-logs_20221014.txt)

And there are compile errors in the branch 'android-tcp-logs' because of a

[2022-10-14 09:50] Danielius1922 commented on #321
@Askidea

Sorry about that, I've added the logs but compiled the code without enabling debug logs. I've fixed it in the branch.

You've figured it out anyway, so looking at the logs:

[code]
Error 22 is `EINVAL` = invalid input. The failing call looks like this:
[code]

`sockfd` must be valid, because the `fcntl` calls preceding the `connect` call succeed. The problematic value must be then the `r

[2022-10-14 14:25] Danielius1922 commented on #318
@Askidea this should be fixed by https://github.com/iotivity/iotivity-lite/pull/328 .

I've also found that we had some JUnit tests for the Java bindings. The tests were commented out, but re-enabled them. So at least the baseline functionality covered by the tests should be guaranteed to work.
(The tests run on a Linux machine, but I'd like them to run also on a Android device/emulator, because o

[2022-10-14 15:52] Askidea commented on #321
@Danielius1922
I found the cause of the problem from your advice.
The cause was that the OCEndpoint object was converted to an endpoint string, and this endpoint string was converted back to an OCEndpoint object. [ by using OCEndpointUtil.toString(OCEndpoint ep) and OCEndpointUtil.stringToEndpoint(String epString ]

OCEndpoint object --------- OCEndpointUtil.toString(OCEndpoint ep) ----------> end

[2022-10-14 19:01] Danielius1922 commented on #321
Great to know! Glad I was able to help. :-)

(Before closing this issue I'll first investigate if the conversion from endpoint to string and back preserves the scope_id. I think that would constitute a bug.)

[2022-10-17 07:12] #314 closed

[2022-10-17 08:22] Danielius1922 opened #331 "Parse link-local IPv6 addreses with scope id"
Add support for scope id (https://www.rfc-editor.org/rfc/rfc6874) to oc_string_to_endpoint when parsing a link-local IPv6 address.

Addresses like
[code]
when parsed to oc_endpoint_t should have the scope_id member of the ipv6 address filled with the correct value.

[2022-10-17 08:26] Danielius1922 commented on #321
Indeed when converting from a string the scope_id value is not filled (and also the parsing function `oc_string_to_endpoint` will be stuck in an infinite loop when an ipv6 address with scope id is used as an input). I've created an enhancement to fix it - https://github.com/iotivity/iotivity-lite/issues/331 .

[2022-10-17 08:26] #321 closed

[2022-11-03 13:25] #318 closed